.drawer-menu {
  $drawer-menu-item-height: 36px;
  $community-length: 8;
  $store-length: 4;
  $expert-length: 2;
  $drawer-menu-list-padding: 8px;

  @function _calculate-max-content-heifgt($length) {
    @return $drawer-menu-item-height * $length + $drawer-menu-list-padding;
  }

  &.is-active {
    .drawer-menu-button {
      color: $blue;
    }

  }

  &.is-open {
    &.is-community {
      .drawer-menu-content {
        max-height: _calculate-max-content-heifgt($community-length);
      }
    }

    &.is-store {
      .drawer-menu-content {
        max-height: _calculate-max-content-heifgt($store-length);
      }
    }

    &.is-expert {
      .drawer-menu-content {
        max-height: _calculate-max-content-heifgt($expert-length);
      }
    }

    .drawer-menu-button .ic-chevron {
      transform: translateY(-50%) rotate(180deg);
    }

    .drawer-menu-content {
      max-height: 152px;
    }

    .drawer-menu-list {
      padding: $drawer-menu-list-padding;
    }
  }


  &-button {
    @include flexbox(start);
    @include text-style(18, $primary);
    width: 100%;
    height: 54px;
    position: relative;
    padding: 0 8px;
    font-weight: 700;
    transition: color 200ms ease-in-out;

    i {
      &:first-child {
        // 이거는 그냥 아이콘에 이슈 있어서 하는 거고, 아이콘 문제 없으면 놔두면 됨//
        position: relative; //TODO : CHECK
        top: 1px;
        //
        margin-right: 8px;
        font-size: 24px;
        color: $primary;
      }

      &:last-child {
        @include pos-center-y;
        right: 8px;
        font-size: 16px;
        color: $primary;
        transition: transform 200ms ease-in-out;
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
      }
    }

    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      font-weight: 700;
      width: 100%;
      height: $drawer-menu-item-height;
      padding: 0 12px;
    }

    .ic-new {
      font-size: 16px;
      color: $red;
    }
  }

}


