// scss-lint:disable all
@font-face {
    font-family: 'house';
    src:  url('./assets/fonts/house.eot');
    src:  url('./assets/fonts/house.eot#iefix') format('embedded-opentype'),
      url('./assets/fonts/house.ttf') format('truetype'),
      url('./assets/fonts/house.woff') format('woff'),
      url('./assets/fonts/house.svg#house') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  